<div class="container">

  <% if flash[:notice] %>
    <div class="panel panel-danger">
      <div class="panel-heading">Important!</div>
      <div class="panel-body">
        <p><%= flash[:notice] %></p>
      </div>
    </div>
  <% end %>

  <%= form_for @user, url: users_login_path, :html => {:class => "form-sign in"}  do |f| %>

      <h2 class="form-signin-heading">Login</h2>
      <h6>When you need administrate your private api-keys from our services</h6>

      <%= f.label :email, :html => {class: 'sr-only'} %>
      <%= f.email_field :email, {class: 'form-control', placeholder: 'Your registred email....' } %>

      <%= f.label :password, :html => {class: 'sr-only'} %>
      <%= f.text_field :password, {class: 'form-control', placeholder: 'Your registred password' } %>

      <br>

      <%= submit_tag 'Login', {class: 'btn btn-lg btn-primary btn-block'}  %>

  <% end %>

</div> <!-- /container -->