<h1>View Login</h1>


<% if flash[:notice] %>
    <p>
      <%= flash[:notice] %>
    </p>
<% end %>


<%= form_for @user, url: users_login_path do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= submit_tag 'Login' %>
<% end %>